*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.form-search{
    position: absolute;
    left: 30%;
   

}
.form-search input{
    width: 590px;
    height: 31px;
    border-radius: 15px;
    
}
@media (max-width:600px) {
    .form-search input{
        width: 200px;
        margin-left: 0px;

    }
    
    
}
.divLink {
    margin-left: 20%;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
@media (max-width: 600px){
    .divLink{
        display: flex;
        flex-direction: column;
        margin-left: none;
        

    }
             
} 

.divLink button {
    padding: 7px;
    margin: 50px 7px;
    height: 35px;
    border-radius: 10px;
    border: 0px solid white;
}
@media(max-width:600px){
    .divLink button{
        border-radius: 20px;
        
    }
}
.divLink button:hover{
    background-color:rgb(196, 194, 194) ;
    
}
.divLink button:active{
    background-color:black ;
    color: aliceblue;
}
img:hover{
    zoom: 1.1;
}



.firstDiv{
    width: 400px;
    height: 300px;
}
.header{
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}
@media (max-width: 600px){
    .header{
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
             
} 

.header img, iframe{
    border-radius: 10%;
    
}
h3, p{
    line-height: 1;
}